{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="row">
    <h1>PHPList Control panel</h1>
    <p>
        Este es el panel de control de PHPList. Sus funciones son 2:
        <ul>
			<li><a href="/listas/sitios">Crear nuevas instalación</a></li>
			<li><a href="/listas/">Permitir la importación de listas de usuarios ía api REST</a>a></7a></li>
        </ul>
        
    </p>
</div>
{% endblock %}
